// Las utilidades son de alta especificidad,
// clases muy explícitas.
// Se utilizan como reemplazos y clases de ayuda.
// Por lo general son una línea de código y tienen !important.

// Ejemplos:// Text-align,
// float,
// position,
// display etc.

// https://www.iotacss.com/docs/utilities/

%togglecheck,
.togglecheck {
	display: none;
}

.horizontal {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.vertical {
	display: flex;
	flex-direction: column
}

.center {
	justify-content: center;
	align-items: center
}

.text-center {
	text-align: center !important;
}

.flex,
.flex-wrap {
	flex: 1;
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.hidden {
	display: none !important;
}

[disabled] {
	pointer-events: none;
	opacity: 0.3;
	user-select: none;

	&:before {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: auto;
		top: 0;
		left: 0;
		cursor: not-allowed;
	}

}

.p-xs {
	padding: var(--spacing-02);
}

.p-sm {
	padding: var(--spacing-03);
}

.ml-xs {
	margin-left: var(--spacing-02) !important;
}

.mb-xs {
	margin-bottom: var(--spacing-02) !important;
}

.pl-xs {
	padding-left: var(--spacing-02) !important;
}

.pb-sm {
	padding-bottom: var(--spacing-03) !important;
}

.mt-sm {
	margin-top: var(--spacing-03) !important;
}

.pb-md {
	padding-bottom: var(--spacing-04) !important;
}
