* {
  box-sizing: border-box
}

html {
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--color);
  background-color: var(--backgroundColor);
}

.elem {
  display: inline-flex;
  height: 4rem;
  width: 6rem;
  margin-right: var(--spacing-02);
  font-size: 0.8rem;
}

.list {
  padding: var(--spacing-03) var(--spacing-03) 0 var(--spacing-03);
}

.icon {
  fill: currentColor;
}
