:root {
	--backgroundColor: var(--neutral10);
	--color: var(--neutral60);


	--tableTheadBackground: var(--neutral60);
	--tableTheadColor: white;

	--tableTbodyBackground: white;
	--tableTbodyColor: var(--shadow50);	

	--tableTfootBackground: var(--neutral20);
	--tableTfootColor: var(--neutral60);


	--componentBoxShadowColor: var(--shadow05);


	--tableTbodyTrBoxShadow: 0 18px 2px -18px rgba(0,0,0,0.05), 0 1px rgba(0,0,0,0.03);

	--strippedBg: var(--neutral10);

	


	--buttonBackground: var(--neutral40);
	--buttonColor: var(--neutral10);
	--buttonAccent: var(--neutral40);
	--buttonHoverBackground: var(--neutral20);
	--buttonHoverColor: var(--neutral60);

	


}

[class*="accent"] {
	--tableTheadBackground: var(--accent60);
	--tableTheadColor: var(--accent10);
	--tableTfootBackground: var(--accent20);
	--tableTfootColor: var(--accent60);

	--checkboxAccent: var(--accent60);
	--buttonBackground: var(--accent60);
	--buttonColor: var(--accent10);
	--buttonAccent: var(--accent60);
	--buttonHoverBackground: var(--accent40);
	--buttonHoverColor: var(--accent80);
}

[class*="primary"] {
	--tableTheadBackground: var(--primary60);
	--tableTheadColor: var(--primary10);
	--tableTfootBackground: var(--primary20);
	--tableTfootColor: var(--primary60);
	--checkboxAccent: var(--primary60);
	--buttonBackground: var(--primary60);
	--buttonColor: var(--primary10);
	--buttonAccent: var(--primary60);
	--buttonHoverBackground: var(--primary40);
	--buttonHoverColor: var(--primary80);
}

[class*="danger"] {
	--checkboxAccent: var(--danger60);
	--tableTheadBackground: var(--danger60);
	--tableTheadColor: var(--danger10);
	--tableTfootBackground: var(--danger20);
	--tableTfootColor: var(--danger60);

	--checkboxAccent: var(--danger60);
	--buttonBackground: var(--danger60);
	--buttonColor: var(--danger10);
	--buttonAccent: var(--danger60);
	--buttonHoverBackground: var(--danger40);
	--buttonHoverColor: var(--danger80);
}

[class*="success"] {
	--checkboxAccent: var(--success60);
	--tableTheadBackground: var(--success60);
	--tableTheadColor: var(--success10);
	--tableTfootBackground: var(--success20);
	--tableTfootColor: var(--success60);

	--buttonAccent: var(--success60);
	--buttonBackground: var(--success60);
	--buttonColor: var(--success20);
	--buttonHoverBackground: var(--success40);
	--buttonHoverColor: var(--success80);
}

[class*="warning"] {
	--tableTheadBackground: var(--warning60);
	--tableTheadColor: var(--warning10);
	--tableTfootBackground: var(--warning20);
	--tableTfootColor: var(--warning60);
	--checkboxAccent: var(--warning60);
	--buttonAccent: var(--warning60);
	--buttonBackground: var(--warning60);
	--buttonColor: var(--warning10);
	--buttonHoverBackground: var(--warning40);
	--buttonHoverColor: var(--warning80);
}
