:root {
	--whiteCheckSVG: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M5 21zm5-4l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z' fill='white'/></svg>");
	--whiteCircleSVG: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><circle cx='5' cy='5' r='3.5' fill='white'/></svg>");
	--greenCheckSVG: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M5 21zm5-4l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z' fill='hsl(150,80%,36%)'/></svg>");

	--redCross: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z' fill='hsl(5, 83%, 45%)'/></svg>");

  --spacing-01: 4px;
  --spacing-02: 8px;
  --spacing-03: 12px;
  --spacing-04: 24px;
  --spacing-05: 36px;

  --buttonMinWidth: calc(var(--spacing-05) * 3);

 
  --buttonBorderRadius: var(--spacing-01);
  --tableBorderRadius: var(--spacing-01);
  

  --stepsFontSize: 1.2rem;
  --stepsRuleHeight: 0.3rem;

  --gridColWhidth: 20rem;
  --gridColWhidth: 76px;
  --gridGap: 24px;



}






