
input[type="submit"],
input[type="button"]
button,
[class^="button"],
.button {
	background-color: var(--buttonBackground);
	color: var(--buttonColor);
	min-width: var(--buttonMinWidth);
	padding: var(--spacing-02) var(--spacing-03) var(--spacing-03);
	border-radius: var(--buttonBorderRadius);
	transition: all 0.1s;
	background-image: linear-gradient(var(--buttonAccent), transparent);
	//background-blend-mode: overlay;/**/
	/*border: 2px solid transparent;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-origin: border-box;
	
	box-shadow: 1px 1px 4px var(--componentBoxShadowColor), 0 0 0 1px  var(--componentBoxShadowColor) inset;
}

.button:hover {
	background-color: var(--buttonHoverBackground);
	background-size: 100% 0;
	color: var(--buttonHoverColor);	/*border-color: var(--checkboxAccent);*/
}

.button:focus {
	outline: none;	/*border-color: var(--checkboxAccent);*/
}

.button-icon {
	justify-content: center;
	border-radius: 0;
	font-size: 1rem;
	height: 2.5ex;
	width: 2.5ex;
	min-width: 0;
	padding: 0;
	border: 0;
	color: inherit;
	outline: none;
	box-shadow: none;
	background: transparent;
}