:root {
	--switchFactor: 2;
	--switchWidth: calc(var(--checkboxW) * var(--switchFactor));
	--switchBorderRadius: 25% 25% 25% 25% / 50% 50% 50% 50%;
}

input[type="checkbox"].switch {
	justify-content: flex-start;
	width: var(--switchWidth);
	
	//opacity: 0.6;
	background-color: currentColor;
	border: none;/**/
	border-radius: var(--switchBorderRadius);
	//filter: grayscale(0.75);
}

input[type="checkbox"].switch::after {
	content: var(--whiteCircleSVG);
	height: var(--checkboxH);
	width: var(--checkboxW);
	transition: transform 0.05s ease-in;
	transform: none;
	//filter: brightness(1);
	z-index: 1;
	background-image: none;
	opacity: 1;
}

input[type="checkbox"].switch:checked {
	opacity: 1;
	background-color: var(--checkboxAccent);
	//filter: grayscale(0);
	//mix-blend-mode: unset;
}

input[type="checkbox"].switch:checked::after {
	transform: translateX(100%);
}

input[type="checkbox"].switch[disabled] {
	opacity: 0.3;

	&:after {
		opacity: 0.75;
	}

}

input[type="checkbox"].switch:not([disabled]):not(:checked):hover,
input[type="checkbox"].switch:not([disabled]):not(:checked):focus {
	opacity: 0.57;
	filter: grayscale(1);
	//color: currentColor;
}
