body {
  --strippedBg: var(--shadow03);
  --tableTheadBackground: var(--dark20);
  --tableTheadColor: var(--neutral20);
  --tableTbodyBackground: var(--neutral10);
  --tableTbodyColor: var(--shadow50);
  --tableTfootBackground: var(--neutral20);
  --tableTfootBackground: var(--shadow10);
  --tableTfootColor: var(--neutral60);
  --tableBoxShadow: 1px 1px 8px var(--componentBoxShadowColor), 0 0 0 1px var(--componentBoxShadowColor);
  --tableTbodyTrBoxShadow: 0 18px 2px -18px var(--shadow05), 0 1px var(--shadow03);
  --compensateShadowColor: #C5CACA;
}

[class*="accent"] {
  --tableTheadBackground: var(--accent60);
  --tableTheadColor: var(--accent10);
  --tableTfootBackground: hsl(var(--accentH), 20%, 90%);
  --tableTfootColor: hsl(var(--accentH), 20%, 50%);
}

[class*="primary"] {
  --tableTheadBackground: var(--primary60);
  --tableTheadColor: var(--primary10);
  --tableTfootBackground: hsl(var(--primaryH), 20%, 87%);
  --tableTfootColor: hsl(var(--primaryH), 20%, 50%);
}

[class*="danger"] {
  --tableTheadBackground: var(--danger60);
  --tableTheadColor: var(--danger10);
  --tableTfootBackground: hsl(var(--dangerH), 20%, 90%);
  --tableTfootColor: hsl(var(--dangerH), 20%, 50%);
}

[class*="success"] {
  --tableTheadBackground: var(--success60);
  --tableTheadColor: var(--success10);
  --tableTfootBackground: hsl(var(--successH), 20%, 87%);
  --tableTfootColor: hsl(var(--successH), 20%, 50%);
}

[class*="warning"] {
  --tableTheadBackground: var(--warning60);
  --tableTheadColor: var(--warning10);
  --tableTfootBackground: hsl(var(--warningH), 20%, 87%);
  --tableTfootColor: hsl(var(--warningH), 20%, 50%);
}

.dark {
  --compensateShadowColor: #111414;
  --strippedBg: var(--shadow20);
  --tableTheadBackground: var(--neutral80);
  --tableTheadColor: var(--neutral40);
  --tableTbodyBackground: var(--light20);
  --tableTbodyBackground: var(--dark40);
  --tableTbodyColor: var(--light40);
  --tableTfootBackground: var(--dark20);
  --tableTfootColor: var(--light40);
  --tableTbodyTrBoxShadow: 0 18px 2px -18px var(--light05), 0 1px var(--light05);

  [class*="accent"] {
    --tableTheadBackground: hsl(var(--accentH), 50%, 20%);
    --tableTheadColor: hsl(var(--accentH), 20%, 60%);
    --tableTfootBackground: hsl(var(--accentH), 20%, 19%);
    --tableTfootColor: hsl(var(--accentH), 10%, 50%);
  }

  [class*="primary"] {
    --tableTheadBackground: hsl(var(--primaryH), 100%, 17%);
    --tableTheadColor: hsl(var(--primaryH), 30%, 60%);
    --tableTfootBackground: hsl(var(--primaryH), 50%, 15%);
    --tableTfootColor: hsl(var(--primaryH), 15%, 47%);
  }

  [class*="warning"] {
    --tableTheadBackground: hsl(var(--warningH), 50%, 20%);
    --tableTheadColor: hsl(var(--warningH), 20%, 60%);
    --tableTfootBackground: hsl(var(--warningH), 20%, 19%);
    --tableTfootColor: hsl(var(--warningH), 15%, 47%);
  }

  [class*="danger"] {
    --tableTheadBackground: hsl(var(--dangerH), 60%, 20%);
    --tableTheadColor: hsl(var(--dangerH), 30%, 60%);
    --tableTfootBackground: hsl(var(--dangerH), 30%, 20%);
    --tableTfootColor: hsl(var(--dangerH), 20%, 52%);
  }

  [class*="success"] {
    --tableTheadBackground: hsl(var(--successH), 100%, 17%);
    --tableTheadColor: hsl(var(--successH), 30%, 60%);
    --tableTfootBackground: hsl(var(--successH), 20%, 18%);
    --tableTfootColor: hsl(var(--successH), 10%, 50%);
  }

}

table {
  border-collapse: collapse;
  table-layout: fixed;
  background-color: var(--tableTbodyBackground);
  box-shadow: var(--tableBoxShadow);
  border-radius: var(--tableBorderRadius);
  color: var(--tableTbodyColor);
}

table td {
  font-feature-settings: "tnum";
}

.table tfoot {
  color: var(--tableTfootColor);
  position: relative;

  tr th {
    background-color: var(--tableTfootBackground);
  }

}

.table.sticky thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
  z-index: 100;
}

table thead tr th {
  &:first-child,
  &:last-child {
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      z-index: -1;
    }

    &:before {
      background-color: var(--compensateShadowColor);
    }

  }

}

.table tr:nth-child(1) th {
  text-align: inherit;
  padding: 0.9rem 1rem 1.1rem;
  vertical-align: top;
}

.table thead {
  color: var(--tableTheadColor);
}

table thead tr th {
  background-color: var(--tableTheadBackground);
}

table thead tr th:first-child {
  border-top-left-radius: var(--tableBorderRadius);

  &:before {
    box-shadow: -1px 0 var(--compensateShadowColor);
  }

  &:after {
    border-top-left-radius: var(--tableBorderRadius);
    background-color: var(--tableTheadBackground);
  }

}

table thead tr th:last-child {
  border-top-right-radius: var(--tableBorderRadius);

  &:before,
  &:after {
    left: auto;
    right: 0;
  }

  &:before {
    box-shadow: 1px 0 var(----compensateShadowColor);
  }

  &:after {
    border-top-right-radius: var(--tableBorderRadius);
    background-color: var(--tableTheadBackground);
  }

}

table tfoot tr th:first-child {
  border-bottom-left-radius: var(--tableBorderRadius);
}

table tfoot tr th:last-child {
  border-bottom-right-radius: var(--tableBorderRadius);
}

table tbody td {
  padding: 1rem;
}

.table tbody tr {
  box-shadow: var(--tableTbodyTrBoxShadow);
}

.table.striped tbody tr:nth-child(2n) {
  background: var(--strippedBg);
}

body:not(.dark) .table.striped tbody tr:nth-child(2n) {
  mix-blend-mode: multiply;
}

.table-item--num,
.table.sticky tr th.table-item--num {
  text-align: right;
}

.table-item--actions {
  text-align: center;
}
