table {
  border-collapse: collapse;
  border: 1px solid var(--tableBorderColor);
  table-layout: fixed;
  background-color: var(--tableTbodyBackground);
}

table td {
  font-feature-settings: "tnum";
}

.table.sticky tr:nth-child(1) th {
  text-align: inherit;
  padding: 0.8rem 1rem 1.2rem;
  vertical-align: top;
}

.table.sticky thead {
  background-color: var(--tableTheadBackground);
  color: var(--tableTheadColor);
  position: sticky;
  top: 0;
  z-index: 100;
}

table tbody td {
  padding: 1rem;
}

.table.striped tbody tr:nth-child(2n) {
  background: var(--strippedBg);
}

body:not(.dark) .table.striped tbody tr:nth-child(2n) {
  mix-blend-mode: multiply;
}

.table-item--num,
.table.sticky tr th.table-item--num {
  text-align: right;
}

.table-item--actions {
  text-align: center;
}
