<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= titulo %></title>
  </head>
  <body class="no-dark" >
    <h1 class="p-sm"><%= encabezamiento%></h1>
    <svg class="hidden">
      <defs>
      <g id="clear">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
    </g>
    </defs>
  </svg>
  <main>
    <article class="hidden" >
      <section class="list">
        <div class="elem center primary80">primary80</div>
        <div class="elem center primary60">primary60</div>
        <div class="elem center primary40">primary40</div>
        <div class="elem center primary20">primary20</div>
        <div class="elem center primary10">primary10</div>
      </section>
      <section class="list">
        <div class="elem center success80">success80</div>
        <div class="elem center success60">success60</div>
        <div class="elem center success40">success40</div>
        <div class="elem center success20">success20</div>
        <div class="elem center success10">success10</div>
      </section>
      <section class="list">
        <div class="elem center danger80">danger80</div>
        <div class="elem center danger60">danger60</div>
        <div class="elem center danger40">danger40</div>
        <div class="elem center danger20">danger20</div>
        <div class="elem center danger10">danger10</div>
      </section>
      <section class="list">
        <div class="elem center accent80">accent80</div>
        <div class="elem center accent60">accent60</div>
        <div class="elem center accent40">accent40</div>
        <div class="elem center accent20">accent20</div>
        <div class="elem center accent10">accent10</div>
      </section>
      <section class="list">
        <div class="elem center warning80">warning80</div>
        <div class="elem center warning60">warning60</div>
        <div class="elem center warning40">warning40</div>
        <div class="elem center warning20">warning20</div>
        <div class="elem center warning10">warning10</div>
      </section>
      <section class="list">
        <div class="elem center neutral80">neutral80</div>
        <div class="elem center neutral60">neutral60</div>
        <div class="elem center neutral40">neutral40</div>
        <div class="elem center neutral20">neutral20</div>
        <div class="elem center neutral10">neutral10</div>
      </section>
      <section class="list">
        <div class="elem center dark80">dark80</div>
        <div class="elem center dark60">dark60</div>
        <div class="elem center dark40">dark40</div>
        <div class="elem center dark20">dark20</div>
      </section>
    </article>
    <article class="hidden">
      <section class="list mt-sm pb-sm">
        <input type="checkbox" class="success" id="checkbox"><label for="checkbox" class="pl-xs">label</label>
        <input type="checkbox" class="ml-xs" id="checkbox2"><label for="checkbox2" class="pl-xs">label</label>
        <input type="checkbox" id="checkbox1" class="ml-xs" disabled=""><label for="checkbox1" disabled="" class="pl-xs">label</label>
      </section>
      <section class="list mt-sm pb-sm">
        <input type="radio" name="radiobtn"> <input type="radio" class="ml-xs" name="radiobtn">
      </section>
      <form class="list mt-sm pb-sm " autocomplete="off">
        <input type="checkbox" class="switch" id="switch"><label for="switch" class="pl-xs">label</label>
        <input type="checkbox" disabled class="switch ml-xs" id="switch2"><label for="switch2" disabled class="pl-xs">label</label>
      </form>
    </article>
    <article class="hidden">
      <section class="list mt-sm pb-sm">
        <button type="button" class="button danger60">Button</button>
        <button type="button" class="button primary60">Button</button>
        <button type="button" class="button accent60">Button</button>
        <button type="button" class="button success60">Button</button>
        <button type="button" class="button warning60">Button</button>
        <button type="button" class="button">Button</button>
      </section>
    </article>
    <article class="flex-wrap no-hidden">
      <table class="table sticky primary ml-xs  striped mb-xs ">
        <tfoot>
        <tr>
          <th class="table-item text-center" colspan="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</th>
        </tr>
        </tfoot>
        <thead>
          <tr>
            <th class="table-item table-item--num">Id</th>
            <th class="table-item table-item--num">Cantidad</th>
            <th class="table-item">Referencia</th>
            <th class="table-item">Estado</th>
            <th class="table-item">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-item table-item--num">1 </td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <input class="switch" type="checkbox">
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">2</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
      <table class="table sticky ml-xs warning  striped mb-xs">
        <tfoot>
        <tr>
          <th class="table-item text-center" colspan="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</th>
        </tr>
        </tfoot>
        <thead>
          <tr>
            <th class="table-item table-item--num">Id</th>
            <th class="table-item table-item--num">Cantidad</th>
            <th class="table-item">Referencia</th>
            <th class="table-item">Estado</th>
            <th class="table-item">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-item table-item--num">1 </td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <input class="switch" type="checkbox">
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">2</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
      <table class="table sticky ml-xs mb-xs">
        <tfoot>
        <tr>
          <th class="table-item text-center" colspan="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</th>
        </tr>
        </tfoot>
        <thead>
          <tr>
            <th class="table-item table-item--num">Id</th>
            <th class="table-item table-item--num">Cantidad</th>
            <th class="table-item">Referencia</th>
            <th class="table-item">Estado</th>
            <th class="table-item">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-item table-item--num">1 </td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <input class="switch" type="checkbox">
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">2</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="table-item table-item--num">4</td>
            <td class="table-item table-item--num">5000</td>
            <td class="table-item">ABC-123456789</td>
            <td class="table-item">En espera</td>
            <td class="table-item table-item--actions">
              <button class="button-icon">
              <svg viewBox="0 0 24 24" height="24" width="24" class="icon">
                <use href="#clear"></use>
              </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
    <form autocomplete="off" class="hidden p-sm">
      <input type="text" placeholder="input type=&quot;text&quot;" minlength="4" maxlength="8" required pattern="\S+.*" >
      <input type="number" placeholder="input type=&quot;number&quot;">
      
      <input type="email" placeholder="input type=&quot;email&quot;" required >
      <input type="tel" placeholder="input type=&quot;tel&quot;" pattern="[0-9]+">
      <textarea type="text" placeholder="textarea"></textarea>
      
    </form>
    <article class="p-sm">
      <ul class="steps steps-horizontal">
        <li class="step selected"></li>
        <li class="step selected"></li>
        <li class="step selected"></li>
        <li class="step selected"></li>
        <li class="step"></li>

        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
      </ul>
    </section>
  </main>
  <script src="./js/index.js"></script>
</body>
</html>